* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p,
li {
    font-size: 22px;
}

.font-small {
    font-size: 1rem;
}

.font-gray {
    color: gray;
}

.font-special {
    color: rgb(5 184 207);
    font-weight: bold;
}

/* HEADER */
header {
    height: 11rem;
    background-color: rgb(31 178 235);
    background-image: url(../img/pattern.png);
}

header img {
    width: 18rem;
    margin-top: 5rem;
    padding: 1rem;
}


/* MAIN */
main,
ul {
    margin: 1rem;
}

section.title {
    padding-bottom: 1rem;
}

.title h1 {
    font-size: 3rem;
}

article p {
    margin: 2rem 0;
}